body{
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-position: 54% -1%;
    height: 1360px;
    margin: auto;
    background-size: 2000px 2200px;
}
.navwrap{
    width: 1200px;
    margin: auto;
}
header{
    margin: 20px 25px;
}
header a{
    color: black;
    font-weight: bold;
}
header a:hover{
    color: #588af0;
    text-decoration: none;

}
header h1{
    float: left;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}
header nav{
    float: right;
    margin: 0px;
}
header nav li{
    display: inline-block;
    margin: 0 13px;

}
.search-svg{
    height: 25px;
}
.signup{
    background: #588af0;
    padding: 7px 25px;
    border-radius: 20px;
    margin: 0px 18px;
}
.signup a{
    color: white;
    font-weight: bold;
}
.signup a:hover{
    color: white;
    text-decoration: none;

}
.ldwrap{
    width: 1200px;
    margin: auto;
}
.ld1{
    margin: 115px 30px;
    width: 40%;
    float: left;
}
.landing h1{
    font-size: 50px;
}
.landing p{
    margin: 30px 0 60px 0;
    font-size: 17px;
}
.landing a{
    padding: 10px 40px;
    border-radius: 5px;
}
.buttons a{
    color: white;
    font-weight: bold;
}
.buttons a:hover{
    text-decoration: none;
}
.ldb1{
    background: #588af0;
}
.ldb2{
    margin-left: 20px;
    background: #a377f0;
}
.ld2{
    float: right;
    margin: 65px 165px 0 0;
}
.ld3{
    margin: 200px 50px;
    width: 40%;
    float: right;
}
.ld3 .ldb2{
    margin: 0;
}
.ld4{
    float: left;
    margin: 70px 0 0 30px;
}
.ld4 img{
    height: 550px;
}
.ld5{
    margin: 100px 60px;
    width: 40%;
    float: left;
}
.ld5 p{
    margin-bottom: 50px;
}
.ld6{
    float: right;
    margin: 70px 30px 0 0;
}
.ld6 img{
    height: 550px;
}

.bullets{
    background: #588af0;
    font-size: 20px;
    padding: 4px 11px;
    border-radius: 100px;
    text-align: center;
    margin: 0px 10px;
    font-weight: bold;
    color: white;
}
.pointers .desc{
    padding-top: 4px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
}
.pointers p{
    padding-left: 83px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.features{
    height: 250px;
}